<div class="field">
    <input
      type="password"
      value=""
      name="customer[password]"
      id="CustomerPassword"
      autocomplete="current-password"
      {% if form.errors contains 'form' %}
        aria-invalid="true"
      {% endif %}
      placeholder="{{ 'customer.login_page.password' | t }}"
    >
  </div>